<!DOCTYPE html>
<html>
    
  <%- include('./partials/head.ejs') %>
  
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About Us</h2>
      <p>please let me know if you want to do that ☺️☺️☺️☺️☺️/p>
      <p>please let me know if you want to do that ☺️☺️☺️☺️☺️/p>
      <p>please let me know if you want to do that ☺️☺️☺️☺️☺️/p>
    </div>
  </body>
      
    <%- include('./partials/footer.ejs') %>
    
</html>